<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuiv6cc4C919pfqSNrQRGl-SW9PFameNg</string>
	<key>GCM_SENDER_ID</key>
	<string>981315697596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondApplication</string>
	<key>PROJECT_ID</key>
	<string>cst9finalproject-c44c5</string>
	<key>STORAGE_BUCKET</key>
	<string>cst9finalproject-c44c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981315697596:ios:af01b088cf2d90c1f449b9</string>
</dict>
</plist>